body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 500px;
  height: auto;
  text-align: center;
}

.calculator, .display, .controls {
  border-radius: 1em;
  padding: 1rem;
  border: 2px solid rgb(15, 14, 14);
}

.digits, .operators, .point {
  padding: 0.8rem;
  border: 2px solid rgb(15, 14, 14);
  border-radius: 10px;
}

.keyboard-container {
  margin-top: 1.2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5);
  gap: 1.1rem;
}

#equal {
  grid-column: 4;
  grid-row: 4/6;
}